<div style="
min-height: calc(100vh - 100px);
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;">

  <div class="container-router">
  <div *ngFor="let item of species; let i = index" style="margin: 10px;">

  <div>
    <div class="main-con">
      <div class="char-img">
        <p style="align-self: center;">{{item.name}}</p>
      </div>
    </div>
    <div class="name-title">
      <a style="text-decoration: none; color: white; height: 30px;" [routerLink]="i + 1" >{{item.name}}</a>
    </div>
  </div>
  </div>
</div>
<div class="load-con" *ngIf="!noNextPages">
  <button style="height: 50px; width: 70px;" (click)="getData(this.i + 1)">Load More</button>
</div>

</div>
