.all-items-list {
  min-height: calc(100vh - 100px);
  height: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.all-items-list-container {
  margin: 10px;
}
.all-items-list-container-border {
  display: flex;
  height: 300px;
  border-radius: 12px;
  width: 120px;
  flex-direction: column;
  justify-content: center;
  background: #adad40;
}
.all-items-list-container-border-inner-box {
  margin: 0;
  display: flex;
  width: 100px;
  background: black;
  height: 280px;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.all-items-list-container-border-inner-box__title {
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  margin-top: 20px;
}

.all-items-list-container-bottom-container {
  align-self: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.all-items-list-container-bottom-container__title {
  text-decoration: none;
  color: white;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
