@media only screen and (max-width: 1100px) {
  .item-details-container {
    flex-wrap: wrap;
    display: unset;
  }
}
.item-details {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}
.item-details-container {
  display: flex;
  flex-wrap: unset;
  margin-left: 120px;
  border-radius: 12px;
  margin-right: 130px;
}
.item-details-left-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background: white;
  margin: 10px;
}
.item-details-left-container-item {
  word-break: break-all;
}
.item-details-left-container-item__title {
  word-break: break-word;
  font-family: Arial, Helvetica, sans-serif;
}
.item-details-right-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}
.item-details-right-container-item {
  display: flex;
  background: white;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 12px;
  min-height: 85px;
  padding: 5px;
  align-items: center;
  margin-bottom: 10px;
}
.item-details-right-container-item__link {
  align-self: center;
  margin: 5px;
  text-decoration: none;
  color: black;
  transition: ease-in-out 0.25s;
}
.item-details-right-container-item__link:hover {
  color: orange;
}
