<div style="min-height: calc(100vh - 100px); display: flex;flex-direction: column;justify-content: center;">
  <div class="main-con" *ngIf="loaded">

    <div class="description-con">

      <div class="desc-con">

        <div class="img-char-con">

          <div class="img-char">

            <p style="color: black;">{{species.name}}</p>

          </div>
          <p style="color: black;">{{species.name}}</p>
        </div>

        <div class="char-desc-con">

        <p>Name: {{species.name}}</p>
        <p>Avarage Height: {{species.average_height}}</p>
        <p>Avarege Lifespan: {{species.average_lifespan}}</p>
        <p>Clasification: {{species.classification}}}</p>
        <p>Designation: {{species.designation}}}</p>
        <p>Eye colors: {{species.eye_colors}}}</p>
        <p>Hair colors: {{species.hair_colors}}}</p>
        <p>Homeworld: {{species.homeworld}}</p>
        <p>Language: {{species.language}}</p>
        <p>Skin colors: {{species.skin_colors}}</p>

        </div>

      </div>

    </div>

    <div class="con-tiles">

    <div class="films-con">
      <div class="extra-tab-links">
      <p>Films </p>
      <a style="align-self: center;"  [routerLink]="['../../' + film]" *ngFor="let film of filmsRoutes">{{film}}</a>
      </div>
    </div>

    <div class="starS-con">
      <div class="extra-tab-links">
      <p>Pepole </p>
        <a style="align-self: center;" [routerLink]="['../../character/' + person]" *ngFor="let person of pepoleRoutes">{{person}}</a>
      </div>
    </div>

  </div>

  </div>
</div>
