.container {
  text-align: center;
display: flex;
flex-flow: column;
align-content: center;
min-height: 100vh;
background: black;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}
.head-title {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100px;
}
.textEX {
align-self: center;
}
