.main {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-content: center;
  min-height: 100vh;
  background: black;
}
.main-title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100px;
}
.title-container__title1 {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: yellow;
  margin-right: 20px;
}
.title-container__title2 {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.navigation-container {
  min-height: 50px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 80px;
  background: white;
}
.navigation-container__breadcrumb-title {
  background: none;
  font-size: 0.8em;
  margin: 0;
}
.router-outlet-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  margin-top: 30px;
}
span {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  font-weight: 900;
  text-decoration: none;
  transition: ease-in-out 0.25s;
}
span:hover {
  color: orange;
}
li {
  list-style: none;
  float: left;
  margin: 5px;
}
li:last-child {
  margin-right: 20px;
}
li::after {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  content: '>';
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 900;
  color: black;
}
li:last-child::after {
  content: '';
}
