<div class="main">
  <div class="main-title-container">
    <p class="title-container__title1">Star Wars</p>
    <p class="title-container__title2">A visual guide</p>
  </div>
  <div class="navigation-container">
    <ol class="navigation-container__breadcrumb-title">
      <li *ngFor="let breadcrumb of bredCrumbsFinalArray">
        <span [routerLink]="breadcrumb.url">
          {{ breadcrumb.label }}
        </span>
      </li>
    </ol>
  </div>
  <div class="router-outlet-container">
    <web-loader></web-loader>
    <router-outlet></router-outlet>
  </div>
</div>
