<div class="main-nav">
  <div class="main-nav-head-title-container">
    <p class="main-nav-head-title-container-title1">Star Wars</p>
    <p class="main-nav-head-title-container-title2">A visual guide</p>
  </div>
  <div class="main-nav-navigation-container">
    <ol class="main-nav-navigation-container-breadcrumbTitle">
      <li *ngFor="let breadcrumb of bredCrumbs">
        <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
          {{ breadcrumb.label }}
        </span>
      </li>
    </ol>
  </div>
  <div class="main-nav-routerOutletContainer">
    <web-loader></web-loader>
    <router-outlet></router-outlet>
  </div>
</div>
