<div style="min-height: calc(100vh - 100px); display: flex;flex-direction: column;justify-content: center;">
  <div class="main-con">

    <div class="description-con">

      <div class="desc-con">

        <div class="img-char-con">

          <div class="img-char">

            <p style="color: black;">{{id}}</p>

          </div>
          <p style="color: black;">{{id}}</p>
        </div>

        <div class="char-desc-con">

        <p>121212</p>

        </div>

      </div>

    </div>

    <div class="con-tiles">

    <div class="films-con">
      <div class="extra-tab-links">
      <p>Films</p>
      <p>link</p>
      </div>
    </div>

    <div class="starS-con">
      <div class="extra-tab-links">
      <p>Star Ships</p>
      <p>link</p>
      </div>
    </div>

    <div class="vehicles-con">

      <div class="extra-tab-links">
        <p>Vehicles</p>
        <p>link</p>
      </div>

    </div>

  </div>

  </div>
</div>



