.main-con {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}
.description-con {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 320px;
  background: white;
  justify-content: center;
  margin-right: 50px;
}
.films-con {
display: flex;
min-height: 100px;
background: white;
justify-content: left;
align-items: center;
margin-bottom: 10px;
}
.starS-con {
display: flex;
justify-content: left;
align-items: center;
min-height: 100px;
background: white;
margin-bottom: 10px;
}
.vehicles-con {
display: flex;
justify-content: left;
align-items: center;
min-height: 100px;
background: white;
}
.con-tiles {
display: flex;
min-height: 300px;
flex-direction: column;
min-width: calc(100vw - 50vw);
}
.extra-tab-links {
  margin-left: 50px;
}
.img-char {
  margin-top: 10px;
  background: blue;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 260px;
  align-self: center;
  width: 130px;
}
.img-char-con {
display: flex;
flex-direction: column;
justify-content: center;
height: 320px;
width: 150px;
}
.char-desc-con {
  display: flex;
  width: calc(50vw - 300px);
  flex-direction: column;
  text-align: center;
}
.desc-con {
  display: flex;
  min-width: max-content;
}
