<div style="min-height: calc(100vh - 100px); display: flex;flex-direction: column;justify-content: center;">
  <div class="main-con"*ngIf="loaded">

    <div class="description-con">

      <div class="desc-con">

        <div class="img-char-con">

          <div class="img-char">

            <p style="color: black;">{{people.name}}</p>

          </div>
          <p style="color: black;">{{people.name}}</p>
        </div>

        <div class="char-desc-con">

        <p>Birth Year: {{people.birth_year}}</p>
        <p>Species: {{people.parsedSpecies.specification}}</p>
        <p>Home World: {{homeInf}}</p>
        <p>Gender: {{people.gender}}</p>
        <p>Hair Color: {{people.hair_color}}</p>
        <p>Skin Color: {{people.skin_color}}</p>
        <p>Height: {{people.height}}</p>
        <p>Mass: {{people.mass}}</p>

        </div>

      </div>

    </div>

    <div class="con-tiles">

    <div class="films-con">
      <div class="extra-tab-links">
      <p>Films </p>
      <a [routerLink]="['../../' + film]" *ngFor="let film of filmsRoutes">{{film}}</a>
      </div>
    </div>

    <div class="starS-con">
      <div class="extra-tab-links">
      <p>Star Ships </p>
        <a [routerLink]="['../../' + ship]" *ngFor="let ship of shipsRoutes">{{ship}}</a>
      </div>
    </div>

    <div class="vehicles-con">

      <div class="extra-tab-links">
        <p>Vehicles </p>
        <div class="link-con" *ngFor="let veh of vehiclesRoutes">
          <a [routerLink]="['../../' + veh]">{{veh}}</a>
        </div>
      </div>

    </div>

  </div>

  </div>
</div>



