.main-con {
  display: flex;
  height: 200px;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  background: white;
  }
  .char-img {
  margin: 0;
  display: flex;
  width: 180px;
  background: blue;
  height: 180px;
  text-align: center;
  justify-content: center;
  align-self: center;

  }
  .name-title {
  display: flex;
  justify-content: center;
  align-self: baseline;
  color: white;
  margin-top: 15px;
  }
  .container-router {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
.load-con {
    display: flex;
    justify-content: center;
}
