.item-list {
  min-height: calc(100vh - 100px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item-list-container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.item-list-container-item {
  margin: 10px;
}
.item-list-container-item-upper-square {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background: #adad40;
}
.item-list-container-item-upper-square-inner-square {
  margin: 0;
  display: flex;
  width: 180px;
  background: black;
  height: 180px;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.item-list-container-item-upper-square-inner-square__title {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.item-list-container-item-bottom-square {
  display: flex;
  justify-content: center;
  align-self: baseline;
  color: white;
  margin-top: 15px;
}
.item-list-container-item-bottom-square__title {
  text-decoration: none;
  color: white;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
